header {
    width: 1280px;
}

* {
    box-sizing: border-box;
}

html {
    display: inline;
    scroll-behavior: smooth;
}   

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0px;
}

p {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

h3 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.0594em;
    text-align: left;
}

h4 {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
}

h5 {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

.conteiner-logo {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 30px 40px;
}

.conteiner-logo a{
    text-decoration: none;
}

.logo-title {
    font-family: Georgia;
    font-size: 32px;
    line-height: 35.2px;
    color: #545454;
    letter-spacing: 0.06em;
    text-align: left;
}

.logo-subtitle {
    font-size: 13px;
    color: #292929;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    padding: 10px 0px 0px 4px;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 35px;
    font-family: Arial;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    padding: 0;
    text-underline-offset: 7px;
}

.nav-item-about a{
    color: #292929;
    text-decoration: 3px underline #F1CDB3;
}

.nav-item a{
    color: #545454;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: 3px underline #F1CDB3;
    cursor: grab;
}

.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: repeat-x;
}

.start-screen-content {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 90px 40px 0px 40px;
    justify-content: space-between  
}

.start-screen-content-conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 163px 42px 243px 0px;
}

.start-screen-heading {
    font-family: Georgia;
    color: #FFFFFF;
    font-weight: 400;
    max-width: 310px;
    font-size: 44px;
    line-height: 57.2px;
    text-align: left;
    margin: 0;
}

.start-screen-subheading {
    line-height: 24px;
    color: #CDCDCD;
}

.start-screen-button {
    height: 52px;
    padding: 15px 45px 15px 45px;
    border-radius: 100px; 
    border: none;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-size: 17px;
    line-height: 22.1px; 
    letter-spacing: 0.06em; 
    text-align: left;
    color: #292929;
}

.start-screen-button:hover {
    background: #FDDCC4;
    cursor: grab;
}

.about-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 80px 40px 100px 40px; 
}

.about-content > img {
    padding-left: 175px;
}

.about-content-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 14px 175px 14px 120px;
}

.about-content-heading {
    margin: 0;
    padding: 0;
    color: #545454;
}

.about-content-subheading {
    color: #4C4C4C;  
}

.our-friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
}

.pets-content {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 40px 80px 40px;
}

.pets-heading {
    padding: 0px 0px 45px 0px;
    margin: 0;
    text-align: center;
    color: #545454;
}

.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slider form {
    text-align: center;
    text-decoration: none;
    border-radius: 9px;
    margin: 15px 0px 15px 0px;
}

.slider form:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: grab;
}

.animalcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    background-color: #FAFAFA;
}

.animalcard-text {
    text-align: center;
    color: #545454;
    margin: 0;
    padding-top: 30px;
}

.animalcard-button {
    padding: 15px 45px 15px 45px;
    margin: 30px 0px 30px 0px;
    border-radius: 100px;
    border: 2px solid #FDDCC4;
    background-color: #FAFAFA;
    transition-duration: 0.4s;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: left;
}

.animalcard-button:hover {
    background-color: #FDDCC4;
    cursor: grab;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 430px 0px 430px;
}

.navigation > form > button {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    transition-duration: 0.4s;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 0;
    margin: 0;
}

.button-start {
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
    background-color: #F6F6F6;
    
}

.button-previous {
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
    background-color: #F6F6F6;
    margin-inline: 20px;
}

.button-page {
    color: #292929;
    border: 2px solid #F1CDB3;
    background-color: #F1CDB3;
}

.button-next {
    border: 2px solid #F1CDB3;
    margin-inline: 20px;
}

.button-next:hover {
    background-color: #F1CDB3;
    cursor: grab;
}

.button-end {
    border: 2px solid #F1CDB3;
}

.button-end:hover {
    background-color: #F1CDB3;
    cursor: grab;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./shelter/assets/img/footer-gradient-background.png),
    linear-gradient(0deg, #211F20, #211F20),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
    url(./shelter/assets/img/footer-background.png);
    background-size: cover;
    background-repeat: repeat-x;
}

.footer-content {
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 40px 0px 40px; 
}

.footer-content > img {
    height: fit-content;
    width: fit-content;
}

.footer-content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 158px 60px 0px;
    margin: 0;
}

.footer-content-block > h3 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-content-block a{
    text-decoration: none;
}

.footer-info > h4 {
    color: #F1CDB3;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

.footer-info > img {
    margin-right: 20px;
}