header {
    max-width: 1280px;
    width: 100%;
}

* {
    box-sizing: border-box;
}

html {
    display: contents;
    width: auto;
    margin: 0 auto;
    scroll-behavior: smooth;
}   

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0px;
}

p {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

h3 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.0594em;
    text-align: left;
}

h4 {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
}

h5 {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

.conteiner-logo {
    display: flex;
    justify-content: space-between;
    padding: 31px 40px 30px 40px;
}

.conteiner-logo a{
    text-decoration: none;
}

.logo-title {
    font-family: Georgia;
    font-size: 32px;
    line-height: 35.2px;
    color: #545454;
    letter-spacing: 0.06em;
    text-align: left;
}

.logo-subtitle {
    font-size: 13px;
    color: #292929;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    padding: 10px 0px 0px 4px;
}

@media (max-width:1000px) {
    .conteiner-logo {
        padding: 30px;
    }
}

@media (max-width:479px) {
    .conteiner-logo {
        padding: 30px 20px 30px 20px;
    }
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 36px;
    font-family: Arial;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    padding: 0;
    text-underline-offset: 7px;
    transition-duration: 0.4s;
}

.nav-item-about a{
    color: #292929;
    text-decoration: 3px underline #F1CDB3;
}

.nav-item a{
    color: #545454;
    text-decoration: none;
    transition-duration: 0.4s;
}

.nav-item a:hover {
    text-decoration: 3px underline #F1CDB3;
    cursor: grab;
    transition-duration: 0.4s;
}

.nav > a {
    display: none;
}

@media (max-width:767px) {
    .nav {
        justify-content: center;
    }
    .nav > ul {
        display: none;
    }
    .nav > a {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: repeat-x;
}

.start-screen-content {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 90px 40px 0px 40px;
    justify-content: space-between  
}

.start-screen-content-conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 163px 42px 243px 0px;
}

.start-screen-heading {
    font-family: Georgia;
    color: #FFFFFF;
    font-weight: 400;
    max-width: 310px;
    font-size: 44px;
    line-height: 57.2px;
    text-align: left;
    margin: 0;
}

.start-screen-subheading {
    line-height: 24px;
    color: #CDCDCD;
}

.start-screen-button {
    height: 52px;
    padding: 15px 45px 15px 45px;
    border-radius: 100px; 
    border: none;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-size: 17px;
    line-height: 22.1px; 
    letter-spacing: 0.06em; 
    text-align: left;
    color: #292929;
}

.start-screen-button:hover {
    background: #FDDCC4;
    cursor: grab;
}

.about-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 80px 40px 100px 40px; 
}

.about-content > img {
    padding-left: 175px;
}

.about-content-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 14px 175px 14px 120px;
}

.about-content-heading {
    margin: 0;
    padding: 0;
    color: #545454;
}

.about-content-subheading {
    color: #4C4C4C;  
}

.our-friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
}

.pets-content {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 40px 100px 40px;
}

.pets-heading {
    padding: 0px 0px 43px 0px;
    margin: 0;
    text-align: center;
    color: #545454;
}

.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
}

.slider form {
    text-align: center;
    text-decoration: none;
    border-radius: 9px;
    margin: 15px 0px 15px 0px;
    transition-duration: 0.4s;
}

.slider form:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: grab;
    transition-duration: 0.4s;
    .animalcard-button{
        background-color: #FDDCC4;
        cursor: grab;
        transition-duration: 0.4s;
    }
}

.slider > form {
    border-radius: 9px;
    background-color: #FAFAFA;
}

.cards-slider-ul {
    display: flex;
    list-style: none;
    width: 9999px;
    height: 930px;
    margin: 0 auto;
    padding: 0;
    column-gap: 40px;
    row-gap: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    transition: margin-left 1000ms;
}

.animalcard-text {
    text-align: center;
    color: #545454;
    margin: 0;
    padding-top: 26px;
}

.animalcard-button {
    padding: 14px 44px 14px 44px;
    margin: 30px 0px 30px 0px;
    border-radius: 100px;
    border: 2px solid #FDDCC4;
    background-color: #FAFAFA;
    transition-duration: 0.4s;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: left;
}

.animalcard-button:hover {
    background-color: #FDDCC4;
    cursor: grab;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 45px 0px 0px 0px;
    column-gap: 20px;
}

.navigation > form > button {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    transition-duration: 0.4s;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 0;
    margin: 0;
}

.button-start {
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
    background-color: #F6F6F6;
    
}

.button-previous {
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
    background-color: #F6F6F6;
    margin-inline: 20px;
}

.button-page {
    color: #292929;
    border: 2px solid #F1CDB3;
    background-color: #F1CDB3;
}

.button-next {
    border: 2px solid #F1CDB3;
    margin-inline: 20px;
}

.button-next:hover {
    background-color: #F1CDB3;
    cursor: grab;
}

.button-end {
    border: 2px solid #F1CDB3;
}

.button-end:hover {
    background-color: #F1CDB3;
    cursor: grab;
}

@media (max-width:1000px) {
    .pets-content {
        padding: 60px 0px 77px 0px;
    }
    .pets-heading {
        padding: 20px 0px 30px 0px;
    }
    .slider {
        padding-inline: 94px;
        row-gap: 29px;
    }
    .slider > form {
        margin: 0;
    }
    .animalcard-scarlett {
        display: none;
    }
    .animalcard-freddie {
        display: none;
    }
    .navigation {
        padding: 40px 0px 0px 0px;
        column-gap: 0px;
    }
    .navigation > form > button {
        margin-inline: 10px;
    }
    
}

@media (max-width:457px) {
    .pets-content {
        padding: 42px 0px 42px 0px;
    }
    .pets-heading {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
        padding: 0px 0px 42px 0px;
    }
    .slider {
        padding-inline: 10px;
        row-gap: 29px;
        justify-content: center;
    }
    .animalcard-sophia {
        display: none;
    }
    .animalcard-timmy {
        display: none;
    }
    .animalcard-charly {
        display: none;
    }
    .navigation {
        padding: 42px 0px 0px 0px;
    }
    .navigation > form > button {
        margin-inline: 5px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/img/noise_transparent.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer-content {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 40px 0px 40px; 
}

.footer-content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 17px 160px 60px 0px;
    margin: 0;
}

.footer-content-block > h3 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

.footer-content > img {
    max-height: 310px;
    max-width: 300px;
    margin-left: 7px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-content-block a{
    text-decoration: none;
}

.footer-info > h4 {
    color: #F1CDB3;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

.footer-info > img {
    margin-right: 20px;
}

@media (max-width:1000px) {
    .footer-content {
        justify-content: normal;
        column-gap: 60px;
        padding: 30px 64px 0px 64px; 
    }
    .footer-content-block {
        row-gap: 32px;
        padding: 0px;
    }
    .footer-content > img {
        margin-left: 170px;
        margin-top: 65px;
    }
}

@media (max-width:534px) {
    .footer-content {
        padding: 30px 10px 0 10px; 
    }
    .footer-content-block {
        row-gap: 40px;
        align-items: center;
        padding-bottom: 39px;
    }
    .footer-content-block > br {
        display: none;
    }
    .footer-content > img {
        width: 260px;
        margin: auto;
    }
    .footer-content-block > h3 {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
        text-wrap: wrap;
        padding-inline: 15px;
    }
    .footer-content-block > h3 > br {
        display: none;
    }
    #geo-location {
        align-items: baseline;
    }
}

.burger-menu-active .burger-btn > span {
    transform: rotate(-90deg);
}

.burger-menu-active .burger-menu-nav{
    right: 0;
    transition-duration: 0.4s;
}

.burger-menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    margin: 0;
    gap: 40px;
    padding: 248px 0;
    z-index: 20;
    list-style: none;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: 0.4s;
}

.burger-menu-nav > li > a{
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    color: #545454;
    line-height: 51.2px;
    text-align: left;
}

.burger-btn > span,
.burger-btn > span::before,
.burger-btn > span::after {
  display: flex;
  position: absolute;
  width: 30px;
  height: 2px;
  z-index: 30;
  background-color: #000000;
  transition-duration: 0.4s;
}
.burger-btn > span::before {
  content: '';
  top: -10px;
}
.burger-btn > span::after {
  content: '';
  top: 10px;
}

.burger { 
    display: none;
}

@media (max-width:767px) {
    .burger {
        display: block;
        width: 30px;
        cursor: pointer;
        
    }
}

.burger-menu-item-about a{
    color: #CDCDCD;
    text-underline-offset: 10px;
    text-decoration: 3px underline #F1CDB3;
}

.burger-menu-item a{
    color: #CDCDCD;
    text-decoration: none;
}

.burger-menu-item a:hover {
    text-decoration: 3px underline #F1CDB3;
    text-underline-offset: 10px;
    cursor: grab;
}

#burger-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .burger-menu-active #burger-menu-overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup {
    position: fixed;
}

.animal-info {
    display: none;
    width: 952px;
    /* height: 552px; */
    position: fixed;
    top: 50%; 
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.popup-active .animal-info {
    display: flex;
    flex-direction: column;
}

@media (max-width:900px) {
    .animal-info{
        width: 682px;
        /* height: 402px; */
        left: 53.4%;
    }
}

@media (max-width:500px) {
    .animal-info{
        width: 270px;
        /* height: 393px; */
    }
}

.content {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 500px;
    border-radius: 9px;
    z-index: 30;
    background-color: #FAFAFA;
}
@media (max-width:900px) {
    .content {
        width: 630px;
        height: 350px;
    }
}

@media (max-width:500px) {
    .content {
        width: 240px;
        height: 341px;
    }
}

.content > img {
    width: 500px;
    height: 500px;
    border-radius: 9px;
    align-self: center;
}

@media (max-width:900px) {
    .content > img {
        width: 350px;
        height: 350px;
    }
    
}

@media (max-width:500px) {
    .content > img {
        display: none;
    }
    
}

.popup-info {
    padding: 50px 20px 88px 29px;
}

.popup-info > h3 {
    margin: 0;
}

.popup-info > ul {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    padding-left: 15px;
    margin-top: 40px
}

.popup-info > ul > li::marker {
   color: #F1CDB3;
}

.popup-info > ul > li > h5 {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: left;
    margin: 0;
}

.popup-info > h4 {
    margin: 10px 0px 0px 0px;
}

#popup-text {
    margin: 40px 0px 40px 0px;
    line-height: 17px;
}

@media (max-width:900px) {
    .popup-info {
        padding: 10px 9px 37px 11px;
    }
    .popup-info > h4 {
        margin-bottom: 20px;
    }
    #popup-text {
        font-family: Georgia;
        font-size: 13px;
        font-weight: 400;
        line-height: 14.3px;
        letter-spacing: 0.06em;
        text-align: left;
        margin: 20px 0px 20px 0px;
    }
    .popup-info > ul {
        row-gap: 5px;
        /* margin-top: 40px; */
    }
}

@media (max-width:500px) {
    .popup-info {
        padding: 10px;
    }
    .popup-info > ul {
        row-gap: 5px;
    }
}

.close-button {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #F1CDB3;
    align-self: flex-end;
    z-index: 30;
    padding: 0;
    margin: 2px 10px 0px 0px;
}

.close-button:hover{
    background-color: #F1CDB3;
    cursor: grab;
}

.close-button > img {
    padding-top: 2px;
}

#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
.popup-active #popup-overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
