header {
    width: 1280px;
    padding: 31px 40px 0px 40px;
}

* {
    box-sizing: border-box;
}

html {
    display: inline;
    scroll-behavior: smooth;
}   

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0px;
}

p {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    text-align: left;
}

h3 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

h4 {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
}

h5 {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

.conteiner-logo {
    display: flex;
    justify-content: space-between;
}

.conteiner-logo a {
    text-decoration: none;
}

.logo-title {
    font-family: Georgia;
    font-size: 32px;
    line-height: 35.2px;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    text-align: left;
}

.logo-subtitle {
    font-size: 13px;
    color: #FFFFFF;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    padding: 10px 0px 0px 4px;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 35px;
    font-family: Arial;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    padding: 0;
    text-underline-offset: 7px;
}

.nav-item-about a{
    color: #CDCDCD;
    text-decoration: 3px underline #F1CDB3;
}

.nav-item a{
    color: #CDCDCD;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: 3px underline #F1CDB3;
    cursor: grab;
    transition-duration: 0.4s;
}

.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-image: url(./assets/img/start-screen-gradient-background.jpg),
    linear-gradient(0deg, #211F20, #211F20), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
    url(./assets/img/start-screen-background.jpg);
    background-size: cover;
    background-repeat: repeat-x;
}

.not-only {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 89px 40px 0px 40px;
    justify-content: space-between  
}

.start-screen-content-conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 163px 42px 243px 0px;
}

.start-screen-heading {
    font-family: Georgia;
    color: #FFFFFF;
    font-weight: 400;
    max-width: 310px;
    font-size: 44px;
    line-height: 57.2px;
    text-align: left;
    margin: 0;
}

.start-screen-subheading {
    line-height: 24px;
    color: #CDCDCD;
}

.start-screen-button {
    height: 52px;
    padding: 15px 45px 15px 45px;
    border-radius: 100px; 
    border: none;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-size: 17px;
    line-height: 22.1px; 
    letter-spacing: 0.06em; 
    text-align: left;
    color: #292929;
}

.start-screen-button:hover {
    background: #FDDCC4;
    cursor: grab;
}

.about-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    width: 1280px;
    display: flex;
    flex-direction: row;
    padding: 80px 40px 100px 40px; 
}

.about-content > img {
    padding-left: 175px;
}

.about-content-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 175px 14px 120px;
}

.about-content-heading {
    margin: 0;
    padding: 0;
    color: #545454;
}

.about-content-subheading {
    color: #4C4C4C;  
}

.our-friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
}

.pets-content {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 40px 100px 40px;
}

.pets-heading {
    display: flex;
    flex-direction: column;
    padding: 0px 400px 0px 400px;
    margin: 0;
    text-align: center;
    color: #545454;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 0px 60px 0px;
}

.slider form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    text-align: center;
    text-decoration: none;
    border-radius: 9px;
}

.slider form:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: grab;
    .animalcard-button{
        background-color: #FDDCC4;
        cursor: grab;
    }
}

.button-arrow {
    text-align: center;
    align-self: center;
    font-weight: bolder;
    width: 52px;
    height: 52px;
    color: #292929;
    border-radius: 100px;
    border: 2px solid #FDDCC4;
    transition-duration: 0.4s;
    margin: 0px;
    padding: 0px;
    background-color: #F6F6F6;
}

.button-arrow:hover {
    background: #FDDCC4;
    cursor: grab;
}

.animalcard-katrine {
    margin-left: 53px;
}

.animalcard-jennifer {
    margin-inline: 90px;
}

.animalcard-woody {
    margin-right: 53px;
}

.animalcard-text {
    text-align: center;
    color: #545454;
    padding: 30px 94px 30px 93px;
    margin: 0px;
    line-height: 22.72px;
}

.animalcard-button {
    padding: 14px 44px 14px 44px;
    margin-bottom: 30px;
    border-radius: 100px;
    border:2px solid #FDDCC4;
    background-color: #FAFAFA;
    transition-duration: 0.4s;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: left;
    color: #292929;
}

.pets-content > form {
    align-self: center;
}

.button-primary {
    padding: 14px 44px 14px 44px;
    border-radius: 100px;
    background-color: #F1CDB3;
    border: none;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;
}

.button-primary:hover{
    background-color: #FDDCC4;
    cursor: grab;
}

.help-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.help-block-content {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 82px 40px 100px 40px;
}

.help-block-content > h3 {
    align-self: center;
    color: #545454;
    text-align: center;
    margin: 0px;
    padding-bottom: 58px;
}

.help-item-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 120px;
    row-gap: 53px;
    justify-content: center
}

.help-item-cards a:hover {
    background-color: #f1f1f1;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: grab;
}

.help-item-cards-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 84px 0px 84px;
}

.help-item-cards-bottom a:hover {
    background-color: #f1f1f1;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: grab;
}

.help-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-decoration: none;
}

.help-item > img {
    width: 60px;
    height: 60px;
}


.help-item > h4 {
    margin: 0px;
    padding-top: 31px;
    color: #545454;
}

.in-addition-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
}

.donation-content {
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 81px 182px 100px 183px;
}

.donation-content > img {
    padding: 10px 30px 10px 0px;
}

.donation-content-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.donation-content-items > h3 {
    color: #545454;
    padding: 0px 80px 0px 0px;
    margin: 0;
}

.donation-content-items > h5 {
    color: #545454;
    padding: 19px 0px 20px 0px;
    margin: 0;
}

.donation-content-items > p {
    color: #B2B2B2;
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding-top: 20px;
}

.donation-content-items a {
    text-decoration: none;
}

.credit-card {
    background-color: #F1CDB3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 14px 11px 14px;
    border-radius: 9px;
}

.credit-card > h4 {
    color: #545454;
    margin: 0;
    padding-left: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/img/footer-gradient-background.png),
    linear-gradient(0deg, #211F20, #211F20),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
    url(./assets/img/footer-background.png);
    background-size: cover;
    background-repeat: repeat-x;
}

.footer-content {
    width: 1280px;
    display: flex;
    flex-direction: row;
    padding: 40px 40px 0px 40px; 
}

.footer-content > img {
    height: 310px;
    width: 300px;
    margin-left: 7px;
}

.footer-content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 17px 160px 60px 0px;
    margin: 0;
}

.footer-content-block > h3 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

.footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-content-block a{
    text-decoration: none;
}

.footer-info > h4 {
    color: #F1CDB3;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

.footer-info > img {
    margin-right: 20px;
}