header {
    max-width: 1280px;
    width: 100%;
}

* {
    box-sizing: border-box;
}

html {
    display: contents;
    width: auto;
    margin: 0 auto;
    scroll-behavior: smooth;
}   

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0px;
}

p {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    text-align: left;
}

h3 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

h4 {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
}

h5 {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

.conteiner-logo {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 0px 40px;
}

.conteiner-logo a {
    text-decoration: none;
}

@media (max-width:1104px) {
    .conteiner-logo {
        padding: 30px 30px 0px 30px;
    }
}

@media (max-width:667px) {
    .conteiner-logo {
        padding: 30px 20px 0px 20px;
    }
}

.logo-title {
    font-family: Georgia;
    font-size: 32px;
    line-height: 35.2px;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    text-align: left;
}

.logo-subtitle {
    font-size: 13px;
    color: #FFFFFF;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    padding: 10px 0px 0px 4px;
}

.nav {
    display: flex;
    flex-direction: column;
}

@media (max-width:767px) {
    .nav {
        justify-content: center;
    }
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 36px;
    font-family: Arial;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    padding: 0;
    text-underline-offset: 7px;
    transition-duration: 0.4s;
}

@media (max-width:767px) {
    .nav-list {
        display: none;
    }
}

.nav-item-about a{
    color: #CDCDCD;
    text-decoration: 3px underline #F1CDB3;
}

.nav-item a{
    color: #CDCDCD;
    text-decoration: none;
    transition-duration: 0.4s;
}

.nav-item a:hover {
    text-decoration: 3px underline #F1CDB3;
    cursor: grab;
    transition-duration: 0.4s;
}

.start-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-image: url("./assets/img/noise_transparent.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.not-only {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 90px 40px 0px 40px;
    justify-content: center;
}

.not-only > img {
    width: 74.09vw;
    max-width: fit-content;
    margin-left: auto;
}

.start-screen-content-conteiner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 460px;
    align-content: space-between;
    justify-content: flex-end;
    padding-bottom: 243px;
}

@media (max-width:1235px) {
    .not-only {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 60px 100px 0px 99px;
    }

    .not-only > img {
        margin-left: 70px;
    }

    .start-screen-content-conteiner {
        max-width: 100%;
        padding: 0px 54px 13.021vw 55px;
    }

    .start-screen-content-conteiner > form {
        display: flex;
        justify-content: center;
    }
}

.start-screen-heading {
    font-family: Georgia;
    color: #FFFFFF;
    font-weight: 400;
    max-width: 310px;
    font-size: 44px;
    line-height: 57.2px;
    text-align: left;
    margin: 0;
}

.start-screen-subheading {
    padding: 42px 0px 42px 0px;
    color: #CDCDCD;
}

.start-screen-button {
    height: 52px;
    padding: 15px 45px 15px 45px;
    border-radius: 100px; 
    border: none;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-size: 17px;
    line-height: 22.1px; 
    letter-spacing: 0.06em; 
    text-align: left;
    color: #292929;
}

.start-screen-button:hover {
    background: #FDDCC4;
    cursor: grab;
    transition-duration: 0.4s;
}

@media (max-width:667px) {
    .start-screen-heading {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
    }
    .not-only {
        padding: 60px 10px 0px 10px;
    }
    .not-only > img {
        margin-left: 40px;
        width: 260px;
        padding: 0;
    }
    .start-screen-content-conteiner {
        padding: 0 0 105.5px 0;
        align-items: center
    }
    .start-screen-subheading {
        text-align: center;
    }
}

.about-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    padding: 80px 40px 100px 40px; 
}

.about-content-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 430px;
    margin: 14px 175px 14px 120px;
}

@media (max-width:1104px) {
    .about-content-conteiner {
        margin: 0px auto 80px auto;
        max-width: fit-content;
    }
    .about-content {
        justify-content: center;
        padding: 80px 169px 100px 169px; 
    }
}

@media (max-width:667px) {
    .about-content {
        padding: 42px 10px 42px 10px; 
    }
    .about-content > img {
        width: 260px;
    }
    .about-content-heading {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
    }
    .about-content-conteiner > p {
        text-align: justify;
        padding-inline: 15px;
    }
    .about-content-conteiner {
        margin: 0px auto 42px auto;
    }
}

.about-content-heading {
    margin: 0;
    padding: 0;
    color: #545454;
}

.about-content-subheading {
    color: #4C4C4C;  
}

.about-content-subheading-first {
    color: #4C4C4C;
    padding: 25px 0 25px 0;
}

.about-content-subheading-second {
    color: #4C4C4C;
}

.our-friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
}

.pets-content {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0px 100px 0px;
}

.pets-heading {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    color: #545454;
}

@media (max-width:667px) {
    .about-content-subheading-first {
        padding-bottom: 22px;
    }
    .pets-content {
        padding: 42px 10px 42px 10px;
    }
    .pets-content > img {
        width: 260px;
    }
    .pets-heading{
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
    }
}

.cards-slider {
    display: flex;
    width: 990px;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
}

@media (max-width:1158px) {
    .cards-slider {
        width: 580px;
    }
}

@media (max-width:700px) {
    .cards-slider {
        width: 270px;
    }
}

.slider {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-evenly;
    padding: 56px 0px 60px 0px;
}

.slider form {
    background-color: #FAFAFA;
    text-align: center;
    text-decoration: none;
    border-radius: 9px;
}

.slider form:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: grab;
    transition-duration: 0.4s;
    .animalcard-button{
        background-color: #FDDCC4;
        cursor: grab;
        transition-duration: 0.4s;
    }
}

.slider .animalcard {
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    text-align: center;
    text-decoration: none;
    border-radius: 9px;
}

.slider .animalcard:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: grab;
    transition-duration: 0.4s;

    .animalcard-button {
        background-color: #FDDCC4;
        cursor: grab;
        transition-duration: 0.4s;
    }
}

@media (max-width:667px) {
    .slider{
        flex-wrap: wrap;
        padding: 40px 0px 42px 0px;
        justify-content: space-around;
    }
}

.slider > button {
    text-align: center;
    align-self: center;
    font-weight: bolder;
    width: 52px;
    height: 52px;
    color: #292929;
    border-radius: 100px;
    border: 2px solid #FDDCC4;
    transition-duration: 0.4s;
    padding: 0px;
    background-color: #F6F6F6;
}

.slider > button:hover {
    background: #FDDCC4;
    cursor: grab;
    transition-duration: 0.4s;
}

.cards-slider-ul {
    display: flex;
    list-style: none;
    column-gap: 90px;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
    margin-left: -1080px;
    transition: 400ms;
}

@media (max-width:1158px) {
    .cards-slider-ul {
        column-gap: 40px;
    }
}

@media (max-width:700px) {
    .cards-slider-ul {
        column-gap: 0px;
    }
}

.button-arrow-previous {
    margin: 3px 6px 0px -6px;
}

.button-arrow-next {
    margin: 3px -7px 0px 7px;
}

@media (max-width:1000px) {
    .button-arrow-previous {
        /* margin: 3px 12px 0px 30px; */
    }
    
    .button-arrow-next {
        /* margin: 3px 30px 0px 12px; */
    }
}

@media (max-width:420px) {
    .pets-content{
        align-items: center;
    }
    .slider {
        width: 270px;
    }
    .slider > button {
        order: 1;
    }
    .button-arrow-previous {
        /* margin: 20px 12px 0px 30px; */
    }
    
    .button-arrow-next {
        /* margin: 20px 30px 0px 12px; */
    }
}

.animalcard-text {
    text-align: center;
    color: #545454;
    padding: 30px 0px 30px 0px;
    margin: 0px;
    line-height: 22.72px;
}

.animalcard-button {
    padding: 13px 43px 13px 43px;
    margin-bottom: 30px;
    border-radius: 100px;
    border:2px solid #FDDCC4;
    background-color: #FAFAFA;
    transition-duration: 0.4s;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: left;
    color: #292929;
}

.pets-content > form {
    align-self: center;
}

.button-primary {
    padding: 15px 45px 15px 45px;
    border-radius: 100px;
    background-color: #F1CDB3;
    border: none;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    transition-duration: 0.4s;
    text-align: center;
    color: #292929;
}

.button-primary:hover{
    background-color: #FDDCC4;
    cursor: grab;
}

.help-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.help-block-content {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 40px 100px 40px;
}

.help-block-content > h3 {
    align-self: center;
    color: #545454;
    text-align: center;
    margin: 0px;
    padding-bottom: 58px;
}

@media (max-width:479px) {
    .help-block-content {
        padding: 42px 15px 42px 15px;
    }
    .animalcard-text {
        padding-top: 25px;
    }
    .help-block-content > h3 {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
        padding-bottom: 40px;
    }
    .animalcard-button {
        padding: 15px 43px 15px 43px;
    }
}

.help-item-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 120px;
    row-gap: 53px;
    justify-content: center
}

.help-item-cards a:hover {
    background-color: #f1f1f1;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: grab;
}

.help-item-cards-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 84px 0px 84px;
}

.help-item-cards-bottom a:hover {
    background-color: #f1f1f1;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: grab;
}

.help-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.help-item > img {
    width: 60px;
    height: 60px;
}


.help-item > h4 {
    margin: 0px;
    padding-top: 31px;
    color: #545454;
}

@media (max-width:768px) {
    .help-item {
        width: 170px;
        height: 113px;
    }
    .help-item-cards {
        column-gap: 60px;
        row-gap: 55px;
    }
}

@media (max-width:479px) {
    .help-item {
        width: 130px;
        height: 87px;
        justify-content: space-between;
    }
    .help-item > h4 {
        padding-top: 0px;
        font-size: 15px;
        line-height: 16.5px;
        text-align: center;
    }
    .help-item-cards {
        justify-content: flex-start;
        gap: 30px;
    }
    .help-item > img {
        width: 50px;
        height: 50px;
    }
}

.in-addition-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
}

.donation-content {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 81px 182px 101px 183px;
}

.donation-content > img {
    padding: 10px 30px 10px 0px;
}

.donation-content-items {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.donation-content-items > h3 {
    color: #545454;
    margin: 0;
}

.donation-content-items > h5 {
    color: #545454;
    padding: 19px 0px 20px 0px;
    margin: 0;

}

.donation-content-items > p {
    color: #B2B2B2;
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding-top: 20px;
}

.donation-content-items a {
    text-decoration: none;
}

@media (max-width:1279px) {
    .donation-content {
        justify-content: center;
        padding: 82px 19px 100px 20px;
    }
    .donation-content-items {
        margin-bottom: 60px;
    }
    .donation-content > img {
        padding: 0px;
    }
}

@media (max-width:534px) {
    .donation-content {
        justify-content: center;
        padding: 42px 10px 42px 10px;
    }
    .donation-content > img {
        width: 260px;
        max-width: 100%;
        max-height: 100%;
        padding: 0px;
    }
    .donation-content-items > h3 {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
    }
    .donation-content-items {
        align-items: center;
        margin-bottom: 42px;
    }
    .donation-content-items > p {
        text-align: justify;
        padding-inline: 10px;
    }
    .donation-content-items > h5 {
        line-height: 24px;
        letter-spacing: 0em;
    }
}

.credit-card {
    background-color: #F1CDB3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px 10px 15px;
    border-radius: 9px;
}

.credit-card > h4 {
    color: #545454;
    margin: 0;
    padding-left: 15px;
}

@media (max-width:479px) {
    .credit-card > h4 {
        font-size: 15px;
        line-height: 16.5px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/img/noise_transparent.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer-content {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 40px 0px 40px; 
}

.footer-content > img {
    max-height: 310px;
    max-width: 300px;
    margin-left: 7px;
}

.footer-content-block {
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 17px 160px 60px 0px;
    margin: 0;
}

.footer-content-block > h3 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

@media (max-width:1000px) {
    .footer-content {
        column-gap: 60px;
        padding: 30px 64px 0px 64px; 
    }
    .footer-content-block {
        row-gap: 32px;
        padding: 0px;
    }
    .footer-content > img {
        margin-left: 170px;
        margin-top: 65px;
    }
}

@media (max-width:760px) {
    .footer-content-block {
        margin-bottom: 40px;
    }
}

.footer-content-block > h3 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

.footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-content-block a{
    text-decoration: none;
}

.footer-info > h4 {
    color: #F1CDB3;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

.footer-info > img {
    margin-right: 20px;
}


@media (max-width:534px) {
    .footer-content {
        padding: 30px 10px 0 10px; 
    }
    .footer-content-block {
        row-gap: 40px;
        align-items: center;
        padding-bottom: 39px;
    }
    .footer-content-block > br {
        display: none;
    }
    .footer-content > img {
        width: 260px;
        margin: auto;
    }
    .footer-content-block > h3 {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
        text-wrap: wrap;
        padding-inline: 15px;
    }
    .footer-content-block > h3 > br {
        display: none;
    }
    #geo-location {
        align-items: baseline;
    }
}

.burger-menu-active .burger-btn > span {
    transform: rotate(-90deg);
}

.burger-menu-active .burger-menu-nav{
    right: 0;
    transition-duration: 0.4s;
}

.burger-menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    margin: 0;
    gap: 41.6px;
    padding: 248px 0;
    z-index: 20;
    list-style: none;
    background-color: #292929;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: 0.4s;
}

.burger-menu-nav > li > a{
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    line-height: 51.2px;
    text-align: left;
    text-underline-offset: 15px;
}

.burger-btn > span,
.burger-btn > span::before,
.burger-btn > span::after {
  display: flex;
  position: absolute;
  width: 30px;
  height: 2px;
  z-index: 30;
  background-color: #F1CDB3;
  transition-duration: 0.4s;
}
.burger-btn > span::before {
  content: '';
  top: -10px;
}
.burger-btn > span::after {
  content: '';
  top: 10px;
}

.burger { 
    display: none;
}

@media (max-width:767px) {
    .burger {
        display: block;
        width: 30px;
        cursor: pointer;
        
    }
}

.burger-menu-item-about a{
    color: #CDCDCD;
    text-underline-offset: 10px;
    text-decoration: 3px underline #F1CDB3;
}

.burger-menu-item a{
    color: #CDCDCD;
    text-decoration: none;
}

.burger-menu-item a:hover {
    text-underline-offset: 10px;
    text-decoration: 3px underline #F1CDB3;
    cursor: grab;
}

#burger-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .burger-menu-active #burger-menu-overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }

.popup {
    position: fixed;
}

.animal-info {
    display: none;
    width: 952px;
    /* height: 552px; */
    z-index: 20;
}

.popup-active .animal-info {
    display: flex;
    flex-direction: column;
}

@media (max-width:900px) {
    .animal-info{
        width: 682px;
        /* height: 402px; */
    }
}

@media (max-width:500px) {
    .animal-info{
        width: 270px;
        /* height: 393px; */
    }
}

.content {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 500px;
    border-radius: 9px;
    z-index: 30;
    background-color: #FAFAFA;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width:900px) {
    .content {
        width: 630px;
        height: 350px;
    }
}

@media (max-width:500px) {
    .content {
        width: 240px;
        height: 341px;
    }
}

.content > img {
    width: 500px;
    height: 500px;
    border-radius: 9px;
    align-self: center;
}

@media (max-width:900px) {
    .content > img {
        width: 350px;
        height: 350px;
    }
    
}

@media (max-width:500px) {
    .content > img {
        display: none;
    }
    
}

.popup-info {
    padding: 50px 20px 88px 29px;
}

.popup-info > h3 {
    margin: 0;
}

.popup-info > ul {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    padding-left: 15px;
    margin-top: 40px
}

.popup-info > ul > li::marker {
   color: #F1CDB3;
}

.popup-info > ul > li > h5 {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: left;
    margin: 0;
}

.popup-info > ul > li > h5 > span {
    font-weight: 400;
}

.popup-info > h4 {
    margin: 10px 0px 0px 0px;
}

#popup-text {
    margin: 40px 0px 40px 0px;
    line-height: 17px;
}

@media (max-width:900px) {
    .popup-info {
        padding: 10px 9px 37px 11px;
    }
    .popup-info > h4 {
        margin-bottom: 20px;
    }
    #popup-text {
        font-family: Georgia;
        font-size: 13px;
        font-weight: 400;
        line-height: 14.3px;
        letter-spacing: 0.0591em;
        text-align: left;
        margin: 20px 0px 17px 0px;
    }
    .popup-info > ul {
        row-gap: 6px;
    }
}

@media (max-width:600px) {
    .popup-info {
        padding: 10px;
    }
    .popup-name {
        text-align: center;
    }
    .popup-breed {
        text-align: center;
    }
    #popup-text {
        margin: 20px 0px 20px 0px;
        text-align: justify;
    }
}

.close-button {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #F1CDB3;
    align-self: flex-end;
    z-index: 30;
    padding: 0;
    margin: 2px 10px 0px 0px;
    position: fixed;
    top: 18.4%;
    left: 86.4%;
    transform: translate(-50%, -50%);
}

.close-button:hover{
    background-color: #F1CDB3;
    cursor: grab;
}

.close-button > img {
    padding-top: 2px;
}

@media (max-width:900px) {
    .close-button {
        top: 26.9%;
        left: 93.2%;
    }
}

@media (max-width:500px) {
    .close-button {
        top: 30.6%;
        left: 76.6%;
    }
}

#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

.popup-active #popup-overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }