header {
    margin-top: 30px;
    margin-inline: 40px;
}

* {
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto; 
    scroll-behavior: smooth;
    background-image: url(./assets/img/start-screen-gradient-background.jpg),
    linear-gradient(0deg, #211F20, #211F20), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
    url(./assets/img/start-screen-background.jpg);
    background-size: 100% 908px;
    background-repeat: repeat-x;
}   

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 1280px;
}

p {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    text-align: left;
}

h3 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

h4 {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
}

h5 {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

.conteiner-logo {
    display: flex;
    justify-content: space-between;
}

.logo {
    flex-direction: column;
    text-align: left;
}

.logo-title {
    font-family: Georgia;
    font-size: 32px;
    line-height: 35.2px;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    text-align: left;
}

.logo-subtitle {
    font-size: 13px;
    color: #FFFFFF;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    margin-left: 4px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 15px;
    line-height: 24px;
    margin-top: 16px;
}

.nav-item-about a{
    color: #CDCDCD;
    text-decoration: 3px underline #F1CDB3;
}

.nav-item a{
    color: #CDCDCD;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: 3px underline #F1CDB3;
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    height: 908px;
}

.start-screen-content {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-inline: 40px;
    justify-content: space-between  
}

.start-screen-content-conteiner {
    width: 460px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 163px;
    max-height: 322px;
}

.start-screen-heading {
    font-family: Georgia;
    color: #FFFFFF;
    font-weight: 400;
    max-width: 310px;
    font-size: 44px;
    line-height: 57.2px;
    text-align: left;
    margin: 0;
}

.start-screen-subheading {
    line-height: 24px;
    color: #CDCDCD;
}

.start-screen-button {
    height: 52px;
    padding: 15px 45px 15px 45px;
    border-radius: 100px; 
    border: none;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-size: 17px;
    line-height: 22.1px; 
    letter-spacing: 0.06em; 
    text-align: left;
    color: #292929;
}

.start-screen-button:hover {
    background: #FDDCC4;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px 40px 80px 40px;
}

.about-content-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 430px;
}

.about-content-heading {
    margin: 0;
    padding: 0;
    width: 370px;
    color: #545454;
}

.about-content-subheading {
    color: #4C4C4C;  
}

.pets {
    background-color: #F6F6F6;
}

.pets-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 80px 40px 80px 40px;
    height: 697px;
}

.pets-heading {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #545454;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider a {
    text-align: center;
    text-decoration: none;
    border-radius: 9px 9px 0px 0px;
}

.slider a:hover{
    .animalcard-button{
        background-color: #FDDCC4;
    }
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.button-arrow {
    text-align: center;
    align-self: center;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    color: #292929;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    transition-duration: 0.4s;
}

.button-arrow:hover {
    background: #FDDCC4;
}

.animalcard {
    padding: 0px 0px 30px 0px;
    border-radius: 9px;
}

.animalcard-text {
    text-align: center;
    color: #545454;
}

.animalcard-button {
    padding: 15px 45px 15px 45px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    transition-duration: 0.4s;
}

.animalcard-button:hover {
    background-color: #FDDCC4;
}

.button-primary {
    padding: 15px 45px 15px 45px;
    border-radius: 100px;
    align-self: center;
    background: #F1CDB3;
    border: none;
}

.button-primary:hover {
    background: #FDDCC4;
}

.help-block {
    height: 611px;
}

.help-block-content {
    height: 431px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 80px 40px 80px 40px;
}

.help-block-content > h3 {
    align-self: center;
    color: #545454;
    text-align: center;
    margin-top: 0;
}

.help-item-cards-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.help-item-cards-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.help-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.help-item > h4 {
    color: #545454;
}

.donation-block {
    height: 462px;
    background-color: #F6F6F6;
}

.donation-content {
    height: 282px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 80px 183px 80px 183px;
}

.donation-content > img {
    size: 100%;
}

.donation-content-items {
    width: 380px;
    height: 282px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.donation-content-items > h3,h5 {
    color: #545454;
    padding: 0;
    margin: 0;
}

.donation-content-items > p {
    color: #B2B2B2;
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.credit-card {
    height: 43px;
    background-color: #F1CDB3;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-inline: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 9px; 
}

.credit-card > img {
    size: 100%;
}

.credit-card > h4 {
    color: #545454;
}