header {
    margin-top: 30px;
    margin-inline: 40px;
}

* {
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto; 
    scroll-behavior: smooth;
    background-image: url(./assets/img/start-screen-gradient-background.jpg),
    linear-gradient(0deg, #211F20, #211F20), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
    url(./assets/img/start-screen-background.jpg);
    background-size: 100% 908px;
    background-repeat: repeat-x;
}   

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 1280px;
    justify-content: flex-start;
}

p {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    text-align: left;
}

h3 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

h4 {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
}

h5 {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

.conteiner-logo {
    display: flex;
    justify-content: space-between;
}

.logo {
    flex-direction: column;
    text-align: left;
}

.logo-title {
    font-family: Georgia;
    font-size: 32px;
    line-height: 35.2px;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    text-align: left;
}

.logo-subtitle {
    font-size: 13px;
    color: #FFFFFF;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    margin-left: 4px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 15px;
    line-height: 24px;
    margin-top: 16px;
}

.nav-item-about a{
    color: #CDCDCD;
    text-decoration: 3px underline #F1CDB3;
}

.nav-item a{
    color: #CDCDCD;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: 3px underline #F1CDB3;
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    min-height: 908px;
}

.start-screen-content {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-inline: 40px;
    justify-content: space-between  
}

.start-screen-content-conteiner {
    width: 460px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 163px;
    max-height: 322px;
}

.start-screen-heading {
    font-family: Georgia;
    color: #FFFFFF;
    font-weight: 400;
    max-width: 310px;
    font-size: 44px;
    line-height: 57.2px;
    text-align: left;
    margin: 0;
}

.start-screen-subheading {
    line-height: 24px;
    color: #CDCDCD;
}

.start-screen-button {
    height: 52px;
    padding: 15px 45px 15px 45px; 
    gap: 10px; 
    border-radius: 100px; 
    opacity: 0px;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-size: 17px;
    line-height: 22.1px; 
    letter-spacing: 0.06em; 
    text-align: left;
    color: #292929;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px 40px 80px 40px;
}

.about-content-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 430px;
}

.about-content-heading {
    margin: 0;
    padding: 0;
    max-width: 370px;
    color: #545454;
}

.about-content-subheading {
    color: #4C4C4C;  
}

.pets {
    background-color: #F6F6F6;
    background-size: cover;
}

.pets-content {
    display: flex;
    flex-direction: column;
    margin: 80px 40px 0px 40px;
}

.pets-heading {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #545454;
}

.slider {
    display: flex;
    flex-direction: row;
}