* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #000000;
    color: #FFFFFF;
}

header {
    margin: 0 auto;
    width: 340px;
}

header>p {
    font-size: 4vh;
    text-align: right;
}

#snake {
    display: none;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 10px;
    margin: 0 auto;
}

#snake:focus {
    outline: none;
}

#main_menu {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    row-gap: 1vh;
    font-size: 4vh;
}

#main_menu a:hover,
#game_over a:hover,
#settings a:hover,
#leaderboard a:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000;
}

#main_menu a:hover::before,
#game_over a:hover::before,
#settings a:hover::before,
#leaderboard a:hover::before {
    content: "<>";
    margin-right: 5px;
}

h2 {
    font-size: 10vh;
}

#game_over {
    display: none;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    row-gap: 1vh;
    font-size: 4vh;
}

#game_over span {
    background-color: #ffffff;
    color: #000;
}

#settings {
    display: none;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    row-gap: 1vh;
    font-size: 4vh;
}

#settings input {
    display: none;
}

#settings label {
    cursor: pointer;
}

#settings input:checked+label {
    background-color: #FFF;
    color: #000;
}

#leaderboard {
    display: none;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 1vh;
    font-size: 4vh;
}

#leaderboard a{
    margin: 0 auto;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
    background: linear-gradient(45deg, rgb(40 40 40 / 80%), rgb(133 133 133 / 80%))
}

.footer-container>a {
    text-decoration: none;
}

.rslink>img {
    width: 50px;
    height: 50px;
}

.git-link {
    display: flex;
    flex-direction: row;
    align-items: center
}

.git-link:hover {
    opacity: .75;
}

.git-logo {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(184deg) brightness(102%) contrast(101%);
}

.git-link>img {
    width: 50px;
    height: 50px;
}

.footer-text {
    color: white;
    font-size: 25px;
}